* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url('estx.jpg');

}

.estilo{
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 500px;
}

.imc{
    width: 200px;
    height: 30px;
}

.input-submit{
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

#resultado, #console {
    text-align: center;
    margin: 20px auto;
    margin-bottom: 30px;
}

